@tailwind utilities;

@layer utilities {
      .home-section--width {
            @apply w-[90%]
            sm:w-[96%]
            md:w-[90%]
            lg:w-[92%]
            xl:w-[80%] xl:max-w-[74rem]
            2xl:w-[90%] 2xl:max-w-[81rem];
      }
}
